html {
    font-size: 18px;
    margin: 1rem;
    font-family: "Garamond", "Times New Roman", serif;
    padding: 0;
}

.bbox {
    padding: 0.5rem;
    background-color: #BDCFE5;
}

.qgr {
    display: grid;
    grid-auto-rows: auto;
}


.ben1 { grid-template-columns: 10rem 20rem repeat(1, 25rem); }
.ben2 { grid-template-columns: 10rem 20rem repeat(2, 25rem); }
.ben3 { grid-template-columns: 10rem 20rem repeat(3, 25rem); }
.ben4 { grid-template-columns: 10rem 20rem repeat(4, 25rem); }

.blankrow {
    grid-column: span 1 / -1;
}

.section {
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    border: 1px solid darkgray;
}

.categ {
    text-align: left;
    font-style: normal;
    border: 1px solid darkgray;
    border-top: 0;
    border-left: 0;
}

.catTop {
    border: 1px solid darkgray;
    border-left: 0;
}

.item {
    margin-left: 1rem;
    border: 1px solid darkgray;
    border-top: 0;
}

.itemTop {
    border: 1px solid darkgray;
}

.basics { background-color: #E9DDBD; }
.extras { background-color: #ccedff; }
.dental { background-color: #eeeef2; }

.c1 {
    grid-template-columns: 30rem repeat(1, 25rem);
    line-height: 5rem;
}

.cleft {
    border: 1px solid darkgray;
    align-self: bottom;
}

.citem {
    border: 1px solid darkgray;
    margin-left: 1rem;
    text-align: center;
    line-height: 2rem;
}

.tBig { font-size: 2rem }
.tMed { font-size: 1.5rem }
.tSml { font-size: 0.75rem}

.tBold { font-weight: bold }
.tCColor { color: darkblue }